
<p>
  <strong>Title:</strong>
  <%= @upload_file.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @upload_file.text %>
</p>

<h2>Comments</h2>
<%= render @upload_file.comments %>

<h2>Add a comment:</h2>
<%= render "comments/form" %>

<%= link_to 'Edit', edit_uploader_path(@upload_file) %> |
<%= link_to 'Back', uploader_path %>
