<h1>Pictures#index</h1>
<p>Find me in app/views/pictures/index.html.erb</p>

<%= link_to 'New picture', new_picture_path %>

<table>
  <tr>
    <th>Name</th>
    <th>Pictures</th>
    <th></th>
  </tr>

<% @pictures.each do |picture| %>

   <tr>
     <td><%= picture.title %></td>
     <td><%= picture.text %></td>
     <td><%= link_to 'Show', picture_path(picture) %></td>
     <td><%= link_to 'Edit', edit_picture_path(picture) %></td>
     <td><%= link_to 'Destroy', picture_path(picture),
                   method: :delete, data: { confirm: 'Are you sure?' } %></td>
   </tr>
 <% end %>
</table>
