
<p>
  <strong>name:</strong>
  <%= @picture.title %>
</p>

<p>
  <strong>Pictures:</strong>
  <%= @picture.text %>
</p>

<h2>Comments</h2>
<%= render @picture.picture_comments %>

<h2>Add a comment:</h2>
<%= render "picture_comments/form" %>

<%= link_to 'Back', pictures_path %>
| <%= link_to 'Edit', edit_picture_path(@picture) %>
